.resume
  .container
    %header.text-xs-center
      %h1 Kevin Lin
      %a(href='mailto:kevin.lin.p@gmail.com') kevin.lin.p@gmail.com
      -#if show_phone_number
        -#br
        -#| Mobile:
        -#a(href="tel:#{phone_number}")= phone_number
        -#br
        -#| FaceTime: 
        -#a(href="facetime:#{phone_number}")= phone_number
        -#br
        -#| Skype: 
        -#a(href="skype:kevin.lin.p") kevin.lin.p
        -#br
        -#| Google Hangouts: 
        -#a(href="https://plus.google.com/+KevinLinP" target="_blank") plus.google.com/+KevinLinP

    %section
      %h2 Summary 
      %p A 3½-year Ruby on Rails full-stack software developer is seeking part-time contract opportunities.

    %section
      = render("_resume_skills.html")

    %section
      = render("_resume_experience.html")

    %section
      = render("_resume_education.html")

    .visible-print-block
      %footer
        .row
          .col-md-12
            %small.text-muted Last updated June 1, 2016, printed from kevinlinp.org/resume

.hidden-print
  .github-fork-ribbon-wrapper.right-bottom
    .github-fork-ribbon
      %a(href="https://github.com/kevinlinp/personal-website-phoenix") Fork me on GitHub!
